* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: monospace;
    font-size: 1.2rem;
}

div {
    margin: 1rem;
    border: 1px dashed;
    padding: 1rem;
}

.one {
    width: 200px;
    height: 200px;
}

.flex {
    background-color: #aba;
    /* write declarations here */
    
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */

}

.grid {
    background-color: #abb;
    /* enter declarations here */
    display: grid;
    place-items: center;    /* shorthand for align-items and justify-items */   
}

.container2 {
    /* write declarations here */
    display: flex;
    flex-wrap: wrap; /* allows stacking on small screens */
    justify-content: space-between; /* equal space between items and sides */

}

.two {
    background-color: #ace;
    height: 100px;
    flex: 1 1 30%; /* flexible width for responsiveness */
    min-width: 150px; /* prevents items from shrinking too much */

}

.container3 {
    /* write declarations here */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}

.columns-3 {
    /* write declaration here */
    grid-column: span 3; /* makes the first row span all columns */
    
}

.three {
    margin: .25rem;
    background-color: #abd;
}