.callout {
  max-width: 400px;
  margin: 20px auto;
  border: 1px solid #333;
  padding: 15px;
  background-color: #eef3ff;
  color: #222;
}

.callout img {
  float: right;
  margin: 0 0 10px 10px;
  border: 1px solid #999;
  padding: 3px;
  background-color: white;
  width: 150px;
  height: auto;
}

blockquote {
  margin: 0;
  font-style: italic;
}

cite {
  display: block;
  border-top: 1px solid #999;
  padding-top: 10px;
  text-align: right;
  font-size: 0.9em;
}
